.content-menu-wrapper {
    position: relative;
    font-family: Futura, Arial;
    padding: 36px 36px 0 36px;
}

.content-mobile-menu-trigger {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 58px;
    background-color: #282a3d;
    cursor: pointer;
    z-index: 5;
    svg {
        display: block;
        width: 16px;
        margin: 0 auto;
        margin-top: 24px;
    }
}

.content-menu-list {
    text-align: right;
    margin-bottom: 10px;
    .content-menu-link {
        font-size: 16px;
        letter-spacing: 3.2px;
        color: #282A3D;
        font-weight: 300;
        text-transform: uppercase;
        text-decoration: none;
        &:nth-child(1) {
            margin-right: 35px;
        }
    }
}

.content-menu-underline {
    height: 2px;
    background-color: #282A3D
}

// Contact
.contact-item {
    &.item-1of3 {
        float: left;
        width: 33.333%;
    }
    &.icon {
        svg {
            width: 16px;
        }
    }
}

@media(max-width: $screen-sm) {
    .content-menu-list {
        .content-menu-link {
            font-size: 14px;
        }
        .contact-item.item-1of3.left {
            * {
                opacity: 0;
            }
        }
    }
    .content-mobile-menu-trigger {
        display: block;
    }
}

// Contact menu
.contact-menu {
    .content-menu-list {
        margin-bottom: 6px;
    }
}

.contact-item.timezone {
    .icon {
        display: block;
        float: left;
        width: 20px;
        margin-right: 9px;
    }
    .contact-menu-text {
        font-size: 14px;
    }
}

.contact-menu-heading {
    font-size: 16px;
    text-transform: uppercase;
}

.contact-item.goback {
    cursor: pointer;
}
