// Text
.text-sm {
    font-size: 12px;
    letter-spacing: 0;
    color: #9b9b9b;
    margin-top: 0;
}

// content text
.content-main {
    font-family: OpenSans, Arial;
    padding: 34px 63px 0 36px;
}

// gif contents
.content-paragraph.gif {
    display: table;
    width: 100%;
    .content-row {
        display: table-row;
    }
    .content-item {
        text-align: center;
        vertical-align: middle;
        margin-bottom: 88px;
    }
}

.content-gif {
    .content-item-img {
        border: none;
        &.gif-1 {
            width: 231px;
            height: 173px;
        }
        &.gif-2 {
            width: 242px;
            height: 171px;
        }
        &.gif-3 {
            width: 106px;
            height: 131px;
        }
        &.gif-4 {
            width: 158px;
            height: 189px;
            transform: translatey(-45px);
        }
        &.gif-5 {
            width: 125px;
            height: 82px;
        }
    }
}

// content layout
.content-item {
    float: left;
    width: 100%;
    &.item-1of2 {
        width: 50%;
    }
    &.item-1of3 {
        width: 33.333%;
    }
    &.item-2of3 {
        width: 66.667%;
    }
}

.content-wrapper {
    &.left {
        padding-right: 13px;
    }
    &.right {
        padding-left: 13px;
    }
}

.content-item-img {
    width: 100%;
    border: 4px solid #d7e4e8;
}

.content-heading {
    margin-bottom: 14px;
}

// content img
.content-img {
    display: block;
    margin-bottom: 17px;
}

.content-link {
    display: block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    color: #FF6D55;
    text-decoration: none;
}

.content-paragraph {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: #66666b;
    margin-bottom: 24px;
    .content-header {
        font-weight: 600;
    }
}

@media(max-width: $screen-sm) {
    .content-paragraph.gif {
        .content-item {
            margin-bottom: 0;
        }
    }
    .content-item {
        .content-wrapper {
            padding: 0;
        }
        &.item-1of2,
        &.item-1of3,
        &.item-2of3 {
            width: 100%;
        }
    }
}